@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
/* @import "tw-animate-css"; */

/* @custom-variant dark (&:is(.dark *)); */
@plugin "daisyui" {
  themes: forest;
}
.swiper-pagination-bullet-active {
  display: none;
}
.swiper-pagination {
  display: none !important;
}

@layer base {
  body {
    @apply bg-base-100 text-base-content;
  }
}

