@import "tailwindcss";
@plugin "daisyui" {
  themes: forest;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.swiper-pagination-bullet-active {
  display: none;
}
.swiper-pagination {
  display: none !important;
}
