@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, forest --prefersdark, cupcake;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
